.extPegaBot {
    animation: alerta forwards 350ms;
}

@keyframes alerta {
    0% {
        margin-top: 2vh;
        opacity: 0
    }
    50% {
        transform: scale(1.1);
    }
    100% {
    }
}
